<template>
 <div class = "login">
 	<v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar color="teal darken-3" dark flat>
                <v-toolbar-title>Login form</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <form>
     	        <v-flex xs10 offset-xs1>
    	            <v-text-field
    				      v-model="getLoginData.email"
    				      v-validate="'required|email'"
    				      :error-messages="errors.collect('email')"
    				      label="E-mail"
    				      data-vv-name="email"
    				      required
    				      prepend-icon="person">
    	           </v-text-field>
              </v-flex> 
	           <v-flex xs10 offset-xs1>
    	           <v-text-field
    				      v-model="getLoginData.password"
    				      v-validate="'required|min:6'"
    				      :error-messages="errors.collect('password')"
    				      label="Password"
    				      data-vv-name="password"
    				      required
    				      type="password"
    				      prepend-icon="lock">
    				     </v-text-field>
	           </v-flex> 
	           <v-card-actions>
				   	   <v-spacer></v-spacer>
    				       <v-btn color="teal darken-3 white--text" :disabled="dialog" :loading="dialog"  @click="submit">login</v-btn>
                   <v-dialog  v-model="dialog" hide-overlay persistent width="300">
                       <v-card color="teal darken-3" dark>
                          <v-card-text> Logging in
                             <v-progress-linear indeterminate color="white" class="mb-0">        </v-progress-linear>
                          </v-card-text>
                        </v-card>
                    </v-dialog>
	           </v-card-actions>
            </form>
         </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</v-content>


</div>
</template>
<script>
  

  export default {
    $_veeValidate: {
      validator: 'new'
    },

    data: () => ({
      authUser:  false,
      dialog: false,
 
      dictionary: {
        
        custom: {
        email: {
          required: () => "Email can not be empty",
        },
        password: {
          required: () => "Password can not be empty"
        },
        }
      }
    }),

    mounted () {
      this.$validator.localize('en', this.dictionary)

    },
     watch: {
      dialog (val) {
        if (!val) return

        setTimeout(() => (this.dialog = false), 4000)
      },
    },
    computed: {
  	
    getLoginData () {
      return this.$store.getters.getLoginSchema
    },
  	
  },

    methods: {
      submit () {

       // var schema = this.getLoginData	
       // .then( result =>{

       //             loader = false;
       //          })
       this.$validator.validateAll().then(isValid => {
       
           if (isValid) {
              this.dialog = true,
              this.authUser = true 
              console.log("das", this.getLoginData)
               var param = {
                  email: this.getLoginData.email,
                  password: this.getLoginData.password,
                }
                this.$store.dispatch("callupdateSchema",param)


                //this.$router.push({ name: 'home' })    
           }
         
       })
           
     }, 
     // close(){
     // 	this.getLoginData.email = null,
     // 	this.getLoginData.password = null

     // }
  },
      
      
    }
  
</script>