<template>
 <div class = "signup">
 	<v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar color="teal darken-3" dark flat>
                <v-toolbar-title>Sign Up</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <form>
              <v-flex xs10 offset-xs1>
              <v-text-field
              v-model="getLoginData.name"
              v-validate="'required'"
              :error-messages="errors.collect('name')"
              label="Name"
              data-vv-name="name"
              required
              prepend-icon="person">
             </v-text-field>
             </v-flex>
     	        <v-flex xs10 offset-xs1>
	            <v-text-field
				      v-model="getLoginData.email"
				      v-validate="'required|email'"
				      :error-messages="errors.collect('email')"
				      label="E-mail"
				      data-vv-name="email"
				      required
				      prepend-icon="email">
	           </v-text-field>
             </v-flex> 
	           <v-flex xs10 offset-xs1>
	            <v-text-field
				      v-model="getLoginData.password"
				      v-validate="'required|min:6'"
				      :error-messages="errors.collect('password')"
				      label="Password"
				      data-vv-name="password"
              ref="password"
				      required
				      type="password"
				      prepend-icon="lock">
				  </v-text-field>
              <v-text-field
              v-model="getLoginData.confirmpassword"
              v-validate="'required|confirmed:password'"
              :error-messages="errors.collect('confirmpassword')"
              label="Confirm Password"
              data-vv-name="confirmpassword"
              required
              type="password"
              prepend-icon="lock">
          </v-text-field>
	           </v-flex> 
	           <v-card-actions>
				   	   <v-spacer></v-spacer>
				       <v-btn color="teal darken-3 white--text" @click="submit">SignUp</v-btn>
	           </v-card-actions>
            </form>
         </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</v-content>


</div>
</template>
<script>
  

  export default {
    $_veeValidate: {
      validator: 'new'
    },

    data: () => ({
      authUser:  false,
 
      dictionary: {
        
        custom: {
        name: {
          required: () => "Name can not be empty",
        },
        email: {
          required: () => "Email can not be empty",
        },
        password: {
          required: () => "Password can not be empty"
        },
        confirmpassword: {
          required: () => "Password Does not match"
        },
        }
      }
    }),

    mounted () {
      this.$validator.localize('en', this.dictionary)

    },
    computed: {
  	
    getLoginData () {
      return this.$store.getters.getLoginSchema
    },
  	
  },

    methods: {
      submit () {

       // var schema = this.getLoginData	
       this.$validator.validateAll().then(isValid => {
           if (isValid) {
               var param = {
                  schema: this.getLoginData,
                  authUser : this.authUser
                }
                this.$store.dispatch("callupdateSchema",param)
                this.$router.push({ name: 'home' })
    
           }
         
       })
           
     }, 
  },
      
      
    }
  
</script>