<template>
  <div>
    <formDialog :dialogStatus.sync="formDialogStatus" :schemaData="editedItem" :editedIndex="editedIndex"  :snackbar.sync= "snackbar"></formDialog>
    <v-content>
      <!-- success/ failed msg  -->
        <v-snackbar  top color="success" v-model="snackbar" :multi-line="multiLine"> {{ getMsg }}
        <v-btn color="red" text @click="snackbar = false"> Close </v-btn>
        </v-snackbar>
      <v-container fluid>
 
        <v-flex xs10 offset-xs1>
        <v-toolbar flat color="teal darken-3 white--text">
          <v-toolbar-title flat>Table Data</v-toolbar-title>
          <v-divider class="mx-2" vertical></v-divider>
           <v-text-field dark v-model="search" prepend-icon="search" label="Search" single-line hide-details full-width color="white"> </v-text-field> 
          <v-spacer></v-spacer>
          <v-card-actions>
          <v-btn color="white black--text" dark class="mb-2" @click="newItem"> New Item </v-btn>
          </v-card-actions>
        </v-toolbar>    
        <v-data-table
          :headers="headers"
          :items="getItemList"
          :search="search"
          class="elevation-1"
        >
          <template v-slot:items="props">
            <td>{{ props.item.item_id }}</td>
            <td class="text-xs">{{ props.item.item_name }}</td>
            <td class="text-xs">{{ props.item.item_type }}</td>
            <td class="text-xs">{{ props.item.code }}</td>
            <td class="text-xs">{{ props.item.brand }}</td>
            <td class="justify-center layout px-0">
              <v-icon small color="teal darken-3" class="mr-2" @click="editItem(props.item)"> edit</v-icon>
              <v-icon small color="red accent-4" @click="deleteItem(props.item)"> delete </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
      </v-container>
    </v-content>
  </div>
</template>

<script>
import formDialog from "../components/form.vue";
export default {
  components: {
    formDialog
  },
  data() {
    return {
      dialog: false,
      formDialogStatus: false,
      multiLine: true,
      snackbar: false,
      search: '',
      headers: [
        {
          text: "ID",
          align: "left",
          sortable: true,
          value: "item_id"
        },
        { text: "Name", value: "item_name" },
        { text: "Type", value: "item_type" },
        { text: "Code", value: "code" },
        { text: "Brand", value: "brand" }
      ],
      editedIndex: -1,
      editedItem: {
        item_id: "",
        item_name: "",
        item_type: "",
        code: "",
        brand: ""
      }
    };
  },
  created() {
    this.$store.dispatch("callItemData");
  },
  computed: {
    getItemList() {
      return this.$store.getters.getItem;
    },

    getMsg(){
      return this.$store.getters.getItemMessage; 
    },
  },
  watch: {
    dialog(val) {
      val || this.close();
    }
  },
  methods: {
    editItem(item) {
      this.editedIndex = this.getItemList.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log("EDITED ITEM ", this.editedItem)
     // this.dialog = true;
     this.newItem()
    },
    deleteItem(item) {
      const index = this.getItemList.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
      this.$store.dispatch("calldeleteItem", index);
      this.snackbar = true;
      this.close();
    },
    
    close() {
      this.dialog = false;
      this.editedIndex = -1;
    },
    newItem() {
      this.formDialogStatus = true;
      console.log("newItem: value ", this.formDialogStatus)
    }
  }
}
</script>
