<template>
  <div>
   <userData
    :dialogStatus.sync="formDialogStatus"
    :editedData="editedItem"
    :indexEdited.sync="editedIndex"
   ></userData>
    <v-content>
           <v-container fluid>
 
        <v-flex xs10 offset-xs1>
        <v-toolbar flat color="indigo darken-1 white--text">
          <v-toolbar-title flat>User Data</v-toolbar-title>
          <v-divider class="mx-2" vertical></v-divider>
           <v-text-field dark v-model="search" prepend-icon="search" label="Search" single-line hide-details full-width color="white"> </v-text-field> 
          <v-spacer></v-spacer>
          <v-card-actions>
          <v-btn color="white black--text" dark class="mb-2" @click="newItem"> New Item </v-btn>
          </v-card-actions>
        </v-toolbar> 
  <v-data-table 
    :headers="headers"
    :items="getStateUserData"
    :search="search"
    class="elevation-1">
    <template v-slot:items="props">
      <td>{{ props.item.id }}</td>
      <td class="text-xs">{{ props.item.user_name }}</td>
      <td class="text-xs">{{ props.item.email }}</td>
     <!--  <td class="text-xs">{{ props.item.password }}</td> -->
      <td class="text-xs">{{ props.item.date }}</td>
      <td class="text-xs">{{ props.item.user_type }}</td>
      <!-- <td class="text-xs">{{ props.item.created_at }}</td>
      <td class="text-xs">{{ props.item.updated_at }}</td> -->
      <td class="justify-center layout px-0">
        <v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>
        <v-icon small @click="deleteItem(props.item)">delete</v-icon></td>     
    </template>
  </v-data-table>
    </v-flex>
      </v-container>
</v-content>
</div>
</template>
<script>
  import userData from "../components/userform.vue";
  export default {
    components: {
    userData
     },
    data () {
      return {
        formDialogStatus: false,
        search: '',
        headers: [
          {
            text: 'User ID',
            align: 'left',
            sortable: true,
            value: 'id'
          },
          { text: 'User Name', value: 'user_name' },
          { text: 'Email', value: 'email' },
          // { text: 'Password', value: 'password' },
          { text: 'Date', value: 'date' },
          { text: 'User Type', value: 'user_type' },
          // { text: 'Creadted At', value: 'created_at' },
          // { text: 'Updated At', value: 'updated_at' },
          
        ],
      editedIndex: -1,
      editedItem: {
        id:"",
        user_name:"",
        email:"",
        password:"",
        date:"",
        user_type:"",
        created_at:"",
        updated_at:""
      }      
      }
    },
 created () {
  //alert('hello');
/*  let url = 'http://192.168.1.62/NU/backend/public/api/user'
    Axios.get(url
                     ).then( res => {
        console.log(res);
    }).catch( error => { console.log(error) });*/
      this.$store.dispatch('callUserApiData')
    },

    computed: {
    getStateUserData () {
      return this.$store.getters.getUserList
    },
  },
  methods:{
      editItem(item) {
      this.editedIndex = this.getStateUserData.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.newItem();
      console.log(" editItem ", this.editedItem)
    },
    deleteItem(item) {
      var self = this;
      const index = item.id;
      confirm("Are you sure you want to delete this item?") &&
        this.$store.dispatch("userdeleteItem", index).then(function(data) {
        self.$store.dispatch('callUserApiData')
         }).catch(function(error) {
        self.$store.dispatch('callUserApiData')
         });
    },
       newItem() {
      this.formDialogStatus = true;
    }       


  },


  }
</script>



