<template>
  <div class="form">
    <v-dialog v-model="dialog" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
          <v-spacer></v-spacer>
          <v-btn fab dark flat class="error white--text" @click="close">
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-form>
            <v-text-field
              outline
              name="id"
              label="Id"
              v-model="getStateSchema.item_id"
              v-validate="'required|numeric'"
              :error-messages="errors.collect('item_id')"
              data-vv-name="item_id"
              required
              prepend-icon="edit"
            ></v-text-field>
            <v-text-field
              outline
              name="itemname"
              label="Name"
              v-model="getStateSchema.item_name"
              v-validate="'required'"
              :error-messages="errors.collect('item_name')"
              data-vv-name="item_name"
              required
              prepend-icon="edit"
            ></v-text-field>
            <v-flex xs12>
              <v-combobox
                outline
                v-model="getStateSchema.item_type"
                :items="type"
                label="Select a type accrding to you item"
                prepend-icon="edit"
                v-validate="'required'"
                data-vv-name="item_type"
                :error-messages="errors.collect('item_type')"
              ></v-combobox>
            </v-flex>
            <v-text-field
              outline
              name="code"
              label="Code"
              v-model="getStateSchema.code"
              v-validate="'required|numeric'"
              :error-messages="errors.collect('code')"
              data-vv-name="code"
              required
              prepend-icon="edit"
            ></v-text-field>
            <v-flex xs12>
              <v-combobox
                outline
                v-model="getStateSchema.brand"
                :items="brand"
                label="Select a brand"
                prepend-icon="edit"
                v-validate="'required'"
                data-vv-name="brand"
                required
                :error-messages="errors.collect('brand')"
              ></v-combobox>
            </v-flex>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info"dark class="ml-5" @click="validate">{{buttonName}}</v-btn>
          <v-btn class="blue-grey white--text" @click="clear">clear</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import {
  updateMsg

} from "../store/erpUtil";
export default {
  $_veeValidate: {
    validator: "new"
  },
  props: ["dialogStatus", "schemaData", "editedIndex" , "snackbar",],
  data: () => ({
    dialog: false,
    editStatus: false,
    editinfo: 'Data update succcessfully',
    type: ["Stationary", "Book", "University", "Question"],
    brand: ["Matador", "Orbit", "Castle black", "Shiny Pen"],
    dictionary: {
      custom: {
        item_id: {
          required: () => "ID can not be empty",
          numeric: "Id field may only contain numeric characters"
        },
        item_name: {
          required: () => "Name can not be empty"
        },
        item_type: {
          required: () => "Select a type"
        },
        code: {
          required: () => "Code can not be empty",
          numeric: "Code field may only contain numeric characters"
        },
        brand: {
          required: () => "Brand can not be empty"
        }
      }
    }
  }),
  created() {
    console.log(this.dialogStatus);
  },
  mounted() {
    console.log("mounted ");
    this.$validator.localize("en", this.dictionary);
  },
  watch: {
    dialogStatus(val) {
      this.dialog = val;
      //val || this.close();
      this.$store.commit("SET_FORM_SCHEMA", this.schemaData);
      this.editStatus = this.schemaData.item_id > 0 ? true : false;
    },
    dialog(val) {
      if (!val) this.close();
    }
  },
  computed: {
    formTitle() {
      return this.editStatus === true ? "Edit Item" : "New Item";
    },
    buttonName() {
      return this.editStatus === true ? "Edit" : "Save";
    },
    getStateSchema() {
      return this.$store.getters.getSchema;
    },
    getItemList() {
      return this.$store.getters.getItem;
    }
  },
  methods: {

    validate(){
      this.$validator.validateAll().then(isValid => {
        if (isValid) {
          this.editStatus === true ? this.edit() : this.save();
        }
      });

    },
    save() {
      var self = this;
      var item = {
        item_id: this.getStateSchema.item_id,
        item_name: this.getStateSchema.item_name,
        item_type: this.getStateSchema.item_type,
        code: this.getStateSchema.code,
        brand: this.getStateSchema.brand
      };
          this.$store.dispatch("saveData", item).then(function(data) {
            self.close();
            self.$emit("update:snackbar", true);
          });
          console.log("formshema = ", this.getStateSchema);
    },
    edit() {
          if (this.editedIndex > -1) {
            Object.assign(this.getItemList[this.editedIndex], this.schemaData);
            this.close();
             this.$emit("update:snackbar", true);
            this.$store.commit("SET_MESSAGE", updateMsg);
          }
    },
    clear() {
      console.log("clear item ");
      this.getStateSchema.item_id = "";
      this.getStateSchema.item_name = "";
      this.getStateSchema.item_type = "";
      this.getStateSchema.code = "";
      this.getStateSchema.brand = " ";
      this.$validator.reset();
    },
    close() {
      this.$emit("update:dialogStatus", false);
       setTimeout(() => {
        this.$emit("update:snackbar", false);
      }, 3000);
      this.clear();
    }
  }
};
</script>

