<template>
  <div class="form">
    <v-dialog v-model="dialog" max-width="500px">
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
          <v-spacer></v-spacer>
          <v-btn fab dark flat class="error white--text" @click="close">
          <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <v-form>
            <v-text-field
              outline
              name="user_name"
              label="User Name"
              v-model="getStateSchema.user_name"
              v-validate="'required'"
              :error-messages="errors.collect('user_name')"
              data-vv-name="user_name"
              required
              prepend-icon="person"
            ></v-text-field>
            <v-text-field
              outline
              name="email"
              label="E-mail"
              v-model="getStateSchema.email"
              v-validate="'required|email'"
              :error-messages="errors.collect('email')"
              data-vv-name="email"
              required
              prepend-icon="email"
            ></v-text-field>
             <v-text-field
              outline
              name="password"
              label="Password"
              v-model="getStateSchema.password"
              v-validate="'required'"
              :error-messages="errors.collect('password')"
              data-vv-name="password"
              required
              prepend-icon="lock"
            ></v-text-field>
            <v-text-field
              outline
              name="date"
              label="Date"
              v-model="getStateSchema.date"
              v-validate="'required'"
              :error-messages="errors.collect('date')"
              data-vv-name="date"
              required
              prepend-icon="edit"
            ></v-text-field>
         <!--    <v-flex xs12>
              <v-date-picker v-model="picker"></v-date-picker>
            </v-flex> -->
            <v-text-field
              outline
              name="user_type"
              label="user_type"
              v-model="getStateSchema.user_type"
              v-validate="'required|numeric'"
              :error-messages="errors.collect('user_type')"
              data-vv-name="user_type"
              required
              prepend-icon="edit"
            ></v-text-field>
          </v-form>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="orange darken-1" dark @click="clear">Clear</v-btn>
          <v-btn color="success" dark class="ml-2" @click.stop.prevent="validationForm()">       {{buttonTitle }}</v-btn> 

        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

export default {
  $_veeValidate: {
    validator: "new"
  },
  props: ["dialogStatus", "editedData", "indexEdited" , "snackbar"],
  data: () => ({
    dialog: false,
    editedStatus: false,
    dictionary: {
      custom: {
        user_name: {
          required: () => "Name can not be empty",         
        },
        email: {
          required: () => "E-mail can not be empty",
        },
        password: {
          required: () => "Password can not be empty"
        },
        date: {
          required: () => "Date can not be empty"
          
        },
        user_type: {
          required: () => "Brand can not be empty",
          numeric: "User type may only contain numeric characters"
        }
      }
    }
  }),
  created() {
    console.log(this.dialogStatus);
  },
  mounted() {
    this.$validator.localize("en", this.dictionary);
  },
  watch: {
    dialogStatus(val) {
      this.dialog = val;
      this.$store.commit("SET_USER_SCHEMA_DATA", this.editedData);
    },
    dialog(val) {
      if (!val) this.close();
    }
  },
  computed: {
    getStateSchema() {
      return this.$store.getters.getUserApiData;
    },
    getItemList() {
      return this.$store.getters.getItem;
    },
    buttonTitle() {
      return this.indexEdited === -1 ? "Save" : "Edit";
    },
    formTitle() {
      return this.indexEdited === -1 ? "New Item" : "Edit Item";
    }
  },
  methods: {
    validationForm() {
      this.$validator.validateAll().then(isValid => {
        if (isValid) {
          this.indexEdited === -1 ? this.save() : this.edit();
        }
      });
    },
    save() {
      var self = this;
      var item = {
        user_name: this.getStateSchema.user_name,
        email: this.getStateSchema.email,
        password: this.getStateSchema.password,
        date: this.getStateSchema.date,
        user_type: this.getStateSchema.user_type
      };
      this.$store.dispatch("saveUserData", item).then(function(data) {
        self.$store.dispatch('callUserApiData')
        // self.$emit("update:snackbar", true);
        self.close();
      });
    },
    edit() {
      var self = this;
      var item = {
        id:this.getStateSchema.id,
        user_name: this.getStateSchema.user_name,
        email: this.getStateSchema.email,
        password: this.getStateSchema.password,
        date: this.getStateSchema.date,
        user_type: this.getStateSchema.user_type,
        created_at: this.getStateSchema.created_at,
        updated_at: this.getStateSchema.updated_at,
      };
      var param = {
        item: item,
        indexEdited: this.indexEdited
      }
      this.$store.dispatch("editUserData", param).then(function(data) {
        // self.$emit("update:snackbar", true);
        self.close();
      });
    },
    clear() {
      this.getStateSchema.user_name = "";
      this.getStateSchema.email = "";
      this.getStateSchema.password = "";
      this.getStateSchema.date = "";
      this.getStateSchema.user_type = " ";
      this.$validator.reset();
    },
    close() {
      this.$emit("update:dialogStatus", false);
      setTimeout(() => {
        this.$emit("update:indexEdited", -1);
      }, 300);
      this.clear();
    }
  }
};
</script>

