<template>
  <div>
    <v-content>
      <router-view></router-view>
    </v-content>
  </div>
</template>

<script> 

export default {
  name: "App",
  
  data() {
    return {

    };
  }
};
</script>
