<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <v-toolbar-side-icon class="grey--text" @click="drawer = !drawer"></v-toolbar-side-icon>
        <span>National University </span>
        <span class="font-weight-light">Integrated Management System </span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-menu offset-y>
            <v-btn flat slot="activator" color="grey">
                  <span>Menu</span>
                  <v-icon right>keyboard_arrow_down</v-icon> 
            </v-btn>
            <v-list>
              <v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
                <v-list-tile-title>{{link.text}}</v-list-tile-title>  
              </v-list-tile>
            </v-list>
      </v-menu> 
      
      <v-btn flat color="grey" @click="logout">
          <span>Log Out</span>
          <v-icon right>exit_to_app</v-icon>  
      </v-btn>
    </v-toolbar>
    <v-navigation-drawer v-model="drawer" app class="teal darken-3">
      <v-layout column align-center>
        <v-flex class="mt-5"></v-flex>
        <p class="white--text subheading mt-1">Jannatul Ferdows Dola</p>
      </v-layout>

      <v-list>
        <v-list-tile v-for="link in links" :key="link.text" router :to="link.route" >
          <v-list-tile-action>
            
            <v-icon class="white--text">{{link.icon}}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title class="white--text">{{link.text}}</v-list-tile-title>
            
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      

    </v-navigation-drawer>

    <v-content>
      <router-view></router-view>
    </v-content>
    


  </v-app>
</template>

<script> 


export default {
  name: "layout",
  
   
  data() {
    return {
      drawer: false,
        links: [
        { icon: 'home', text: 'Home', route: '/home'},
        { icon: 'folder', text: 'Table', route: '/table'},
        { icon: 'folder', text: 'About', route: '/about'},


        ]
    };
  },

  methods: {

    logout(){
      this.$router.push({ name: 'login' })

    },
  }
};
</script>

