<template>
  <v-app>

    <v-toolbar color="teal darken-3 white--text" app>
      <v-toolbar-title class="headline text-uppercase">
        <span>National University </span>
        <span class="font-weight-light">Integrated Management System </span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-content>
      <router-view></router-view>
    </v-content>

    <Footer />
  </v-app>
</template>

<script> 
  import Footer from "../components/footer";

export default {
  name: "layout",
  components: {
    Footer
  },
   
  data() {
    return {
    };
  }
};
</script>

